.body {
    font-size: 13px;
    font-family: "Manrope", sans-serif;
    background-color: hsl(210, 46%, 95%);
}
.attribution {
    padding-top: 1%;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: hsl(217, 19%, 35%);
}

.attribution a {
    color: hsl(212, 23%, 69%);
    text-decoration: none;
}

.blurb {
    color: hsl(214, 17%, 51%);
    font-weight: 500;
    grid-area: b;
    padding-top: 4%;
    margin-left: 20px;
    margin-right: 10px;
    line-height: 1.5em;
}

.card {
    background-color: white;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 300px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 40% 30% 30%;
    grid-template-areas:
    "k t"
    "k b"
    "k n";
}

.date {
    padding-top: 8px;
    padding-left: 16px;
    color: hsl(212, 23%, 69%);
}

.drawers {
    grid-area: k;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
}

.name-info {
    grid-area: n;
    margin-left: 20px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
}

.person {
    padding-top: 10px;
    padding-left: 16px;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.profile {
    border-radius: 100px;
    display: inline-block;
}

.share-button {
    margin-left: 100px;
    margin-top: 10px;
    padding: 10px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    outline: none;
}
  
.share-button:hover,
.share-button:active {
    background-color: hsl(217, 19%, 35%);
}

.share-button:hover,
.share-button:active {
    fill: #fff;
}

.share-label {
    margin-right: 5px;
    font-size: 13px;
    letter-spacing: 0.5em;
    color: hsl(212, 23%, 69%);
    text-transform: uppercase;
}
  
.share-link {
    width: 20px;
    height: 20px;
    margin: 0 8px;
}
  
.share-link img {
    width: 100%;
    height: 100%;
}
  
.share-wrapper {
    display: none;
    margin: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 284px;
    left: 828px;
    padding: 13px 35px 13px 40px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
}

.share-wrapper::after {
    position: absolute;
    bottom: -5px;
    transform: rotate(45deg);
    content: "";
    width: 10px;
    height: 10px;
    background-color: hsl(217, 19%, 35%);
}

.share-wrapper-display {
    display: flex;
}

.top-text{
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    font-size: 1.2rem;
    grid-area: t;
    line-height: 1.5em;
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 8%;
}

@media (max-width: 800px) {
    .attribution {
        padding-top: 3%;
    }
    .blurb {
        color: hsl(214, 17%, 51%);
        font-weight: 500;
        font-size: 15px;
        grid-area: b;
        padding-top: 8%;
        margin-left: 20px;
        margin-right: 10px;
        line-height: 1.5em;
    }
    .card {
        background-color: white;
        border-radius: 20px;
        margin-top: 10%;
        margin-left: 5%;
        width: 90%;
        height: 600px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35% 20% 20% 25%;
        grid-template-areas:
        "k"
        "t"
        "b"
        "n";
    }
    .drawers {
        grid-area: k;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }
    .name-info {
        padding-top: 6%;
    }
    .top-text{
        padding-top: 8%;
    }
    .share-button {
        margin-left: 40px;
        margin-top: 10px;
        padding: 10px;
        background-color: hsl(210, 46%, 95%);
        border-radius: 20px;
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;
        outline: none;
    }
    .share-wrapper {
        display: none;
        margin: 20px;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 560px;
        left: 8px;
        padding: 20px 66px 20px 66px;
        background-color: hsl(217, 19%, 35%);
        border-radius: 0%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .share-wrapper-display {
        display: flex;
    }
    .share-wrapper::after {
        display: none;
    }
    
}